<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>

  <!-- whether or not to load allegro model with optoforce sensors -->
  <arg name="optoforce" default="true"/>

  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro '$(find ur5_allegro_moveit)/models/ur5_allegro.xacro'
    optoforce:=$(arg optoforce)
    transmission_hw_interface:=$(arg transmission_hw_interface)
    kinematics_config:=$(arg kinematics_config)" />
  <!-- TODO: limited urdf -->
</launch>
